name: Cancel workflows

on:
  workflow_run:
    workflows: ["GHA-PR-test"]
    types:
      - requested

jobs:
  job1:
    name: Job 1
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codes
        uses: actions/checkout@v2

      - name: Use cancel redundant
        run: |
          cd ${GITHUB_WORKSPACE}
          repo='https://api.github.com/repos/MJRCS/GHA-PR-test/actions/runs'
          cancel=$(curl -H "Accept: application/vnd.github.v3+json" ${repo} | ./json_helper.py cancel_workflow)
          echo ==============$cancel
          #cancel=$(echo $cancel | cut -d ' ' -f 2)
          #echo ==============$cancel
          if [[ $cancel != '' ]]; then
            for i in $cancel; do
              curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github.v3+json" ${repo}/$i/cancel
            done
          fi
